.preview-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.task-container {
    margin: 12px;
}

.task-preview-link {
    color: inherit;
}

.task-preview-link:hover {
    text-decoration: none;
}

.task-preview {
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid dimgray;
    padding: 12px;
}

.task-preview-green {
    background-color: #95f595;
}

.task-preview-blue {
    background-color: #9ad4e4;
}

.task-preview-pink {
    background-color: #ff5c79;
}

.task-preview-orange {
    background-color: #ffc65f;
}

.task-preview-red {
    background-color: #ff383f;
}

.task-preview-grey {
    background-color: #d2d2d2;
}

.no-view {
    display: none;
}

.view {
    display: block;
}

